/*div{
	background-color: gray !important
}*/
.div1{
	margin : 50px;
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 50px;
	height: 80px;
}
.div2{
	margin-right: 5px;
	margin-left: 5px;
	height: 40px;
}
.div3{
	margin: 35px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 70px;
	height: 60px;
}
.div4{
	margin : 40px;
	margin-right: 5px;
	margin-left: 5px;
	height: 45px;
}

.div5{
	margin: 40px;
	margin-right: 110px;
	margin-left: 110px;
	margin-bottom: 50px;
	height: 55px;
}

.col{
height: 260px;
}
.col1{
height: 345px;
margin: auto;
}
.div6{
	/*margin top: 60px;*/
	margin-right: 110px;
	margin-left: 110px;
	/*margin-bottom: 50px;*/
	height: 55px;
}
.div7{
	/*margin top: 60px;*/
	margin-right: 110px;
	margin-left: 110px;
	/*margin-bottom: 50px;*/
	height: 55px;
}
.div8{

	height: 120px;
	margin-left: 50px;
}
.div9{
	height: 120px;
	margin-left: 30px;
}
.div10{
	height: 120px;
	margin-left: 30px;
}

.div11{
	height: 100px;
	
}
.div12{
	height: 80px;
	
}

.div13{
	height: 161px;
	
}
.div14{
	height: 100px;
}

.div15{
	height: 47px;
}